/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
	font-family: 'Play', sans-serif;
}



/* 2. Content ================================= */

body {
	font-family: 'Play', sans-serif;
	font-size: 30px;
	background-color: #845EC2;
	color: white;
}

.title{
	position: relative;
	left: 10%;
	text-align: center;
	font-size: 100px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.1);
	background-color: white;
	box-shadow: 10px 10px 10px rgb(42, 42, 42);
	border-radius: 10px;
	width: 80%;
	margin-top: 300px;
	padding-bottom: 200px;
}

input{
	border: none;
	border-bottom: 2px solid #855ec2;
}

.created{
	display: flex;
	padding: 20px 40px;
	font-size: 20px;
	color: #855ec2;
	align-items: center;
	justify-content: center;
}

.add{
	box-shadow: 3px 4px 0px 0px #582aa3;
	background:linear-gradient(to bottom, #855ec2 5%, #855ec2 100%);
	background-color:#855ec2;
	border-radius:18px;
	border:1px solid #855ec2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #855ec2;
}

.delete{
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:15px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	margin-left: 100px;
}

.task-input{
	padding: 20px 40px;
	font-size: 20px;
	margin-bottom: 30px;
	
}

.todo{
	border-bottom: 2px solid #D65DB1;
	
}

.box{
	height: 20px;
	width: 20px;
	border: 2px solid ;
	margin-left: 20px;
}